.header-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  text-align: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.alignRight {
  position: absolute;
  right: 50px;
}

.badge-text {
  font-size: 10px;
}

.social {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.summary {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.border {
  background-color: #e1e1e1;
  height: 2px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  line-height: 5px;
}

.fullcolumn {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.category {
  font-size: 10px;
}

.answer {
  font-size: 12px;
  font-weight: bold;
}

#pfp {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-icon {
  width: 40px;
  height: 40px;
}

#mailbox{
  margin-left: 90%;
}

#footerButtons{
  text-align: center;
}
ion-button{
  font-size: x-small;
}

ion-icon {
  color: var(--ion-color-medium);
}