<ion-header [translucent]="true">
  <ion-toolbar>
    Profile
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-box">
    <ion-icon name="settings-outline" class="alignRight"></ion-icon>
    <br />
    <img id='pfp' src='../../../assets/images/kaeley.jpg'>
    <h5> Kaeley Lenard </h5>
    <div>
      <ion-button color="tertiary" class="badge-text">Informatics</ion-button>
      <ion-button color="primary" class="badge-text">Seeking Housing</ion-button>
    </div>
    <p class="badge-text"> Hello! I am a third year Informatics major from Orange County
    looking for housing, preferably a place with a parking space. </p>
    <div>
      <a href="#" onclick="window.open('http://discord.com', '_system', 'location=yes'); return false;"><img class='social' src='../../../assets/images/discord.png'></a>
      <a href="#" onclick="window.open('http://facebook.com', '_system', 'location=yes'); return false;"><img class='social' src='../../../assets/images/facebook.png'></a>
      <a href="#" onclick="window.open('http://instagram.com', '_system', 'location=yes'); return false;"><img class='social' src='../../../assets/images/instagram.png'></a>
    </div>
  </div>

  <div class="summary">
    <div>
      <img class='profile-icon' src='../../../assets/images/housing.png'>
      Housing Preferences
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> LOCATION </p>
        <p class="answer"> Off-Campus </p>
      </div>
      <div class="column">
        <p class="category"> HOUSEMATES </p>
        <p class="answer"> All Genders </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> ROOM SIZE </p>
        <p class="answer"> 2 people </p>
      </div>
    <div class="column">
      <p class="category"> MAX RENT </p>
      <p class="answer"> $900/month </p>
      </div>
    </div>
  </div>


  <div class="summary">
    <div>
      <img class='profile-icon' src='../../../assets/images/lifestyle.png'>
      Lifestyle
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> WAKES UP AT </p>
        <p class="answer"> 9:00 AM </p>
      </div>
      <div class="column">
        <p class="category"> SLEEPS AT </p>
        <p class="answer"> 1:00 AM </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> SMOKING </p>
        <p class="answer"> Never </p>
      </div>
      <div class="column">
        <p class="category"> ALCOHOL </p>
        <p class="answer"> Sometimes </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> CHORES </p>
        <p class="answer"> Split equally </p>
      </div>
      <div class="column">
        <p class="category"> PETS </p>
        <p class="answer"> No </p>
      </div>
      </div>
  </div>


  <div class="summary">
    <div>
      <img class='profile-icon' src='../../../assets/images/more.png'>
      More about Kaeley
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> AGE </p>
        <p class="answer"> 21 years </p>
      </div>
      <div class="column">
        <p class="category"> GENDER </p>
        <p class="answer"> Female </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> MBTI </p>
        <p class="answer"> INTJ-T </p>
      </div>
      <div class="column">
        <p class="category"> HOMETOWN </p>
        <p class="answer"> Irvine </p>
      </div>
    </div>

    <div class="row">
      <div class="fullcolumn">
        <p class="category"> INTERESTS </p>
        <p class="answer"> Design • Drums • Stardew Valley • Netflix • Shabu Shabu </p>
      </div>
    </div>
  </div>

</ion-content>
