<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-icon class="back-btn" slot="start" name="chevron-back-outline" (click)="backButton()" size="large" color="light"></ion-icon>
    {{name}}'s Profile
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="header-box">
      <ion-icon id="mailbox" name="mail-outline"></ion-icon>
    <!-- <ion-icon ng-hide="id != null" name="settings-outline" class="alignRight" (click)="onClickSettings()"></ion-icon> -->
    <br />
    <img id='pfp' [src]='image'>
    <h5> {{ name }} </h5>
    <div>
      <ion-button color="tertiary" class="badge-text">{{ major }}</ion-button>
      <ion-button [color]="housingColor" class="badge-text">{{ housingStatus }}</ion-button>
    </div>
    <p class="badge-text"> {{ bio }} </p>
    <div>
      <a href="#" onclick="window.open('http://discord.com', '_system', 'location=yes'); return false;"><img class='social' src='../../../assets/images/discord.png'></a>
      <a href="#" onclick="window.open('http://facebook.com', '_system', 'location=yes'); return false;"><img class='social' src='../../../assets/images/facebook.png'></a>
      <a href="#" onclick="window.open('http://instagram.com', '_system', 'location=yes'); return false;"><img class='social' src='../../../assets/images/instagram.png'></a>
    </div>
  </div>

  <div class="summary">
    <div>
      <img class='profile-icon' src='../../../assets/images/housing.png'>
      Housing Preferences
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> LOCATION </p>
        <p class="answer"> {{ housingLocation }} </p>
      </div>
      <div class="column">
        <p class="category"> HOUSEMATES </p>
        <p class="answer"> {{ coedPref }} </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> ROOM SIZE </p>
        <p class="answer"> {{ peoplePerBedroom }}</p>
      </div>
    <div class="column">
      <p class="category"> MAX RENT </p>
      <p class="answer"> ${{ maxRent }}/month </p>
      </div>
    </div>
  </div>


  <div class="summary">
    <div>
      <img class='profile-icon' src='../../../assets/images/lifestyle.png'>
      Lifestyle
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> WAKES UP AT </p>
        <p class="answer"> {{ wake }} </p>
      </div>
      <div class="column">
        <p class="category"> SLEEPS AT </p>
        <p class="answer"> {{ sleep }} </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> SMOKING </p>
        <p class="answer"> {{ drugs }} </p>
      </div>
      <div class="column">
        <p class="category"> ALCOHOL </p>
        <p class="answer"> {{ alcohol }} </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> CHORES </p>
        <p class="answer"> {{ chores }} </p>
      </div>
      <div class="column">
        <p class="category"> PETS </p>
        <p class="answer"> {{ pets }} </p>
      </div>
      </div>
  </div>


  <div class="summary">
    <div>
      <img class='profile-icon' src='../../../assets/images/more.png'>
      More about {{ firstName }}
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> AGE </p>
        <p class="answer"> {{ age }} </p>
      </div>
      <div class="column">
        <p class="category"> GENDER </p>
        <p class="answer"> {{ gender }} </p>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p class="category"> MBTI </p>
        <p class="answer"> INTJ-T </p>
      </div>
      <div class="column">
        <p class="category"> HOMETOWN </p>
        <p class="answer"> Irvine </p>
      </div>
    </div>

    <div class="row">
      <div class="fullcolumn">
        <p class="category"> INTERESTS </p>
        <p class="answer"> {{ interests }} </p>
      </div>
    </div>
  </div>
<div id= "footerButtons">
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="4">
      <ion-button size="small" color="medium">
      Hide
    </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="small" color="danger">
        Report
      </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</div>
</ion-content>
