<ion-content>
  <ion-slides #slides [options]="{ allowTouchMove: false, autoHeight: true }">
    <ion-slide>
      <div class="slide-content" style="display: block; text-align: left;">
        <ion-icon class="back-btn" slot="start" name="chevron-back-outline" (click)='navigateToAccountAccess()' size="large" color="primary"></ion-icon>
        <h1 class="slide-title">Sign Up</h1>
        <ion-note class="subtitle">First, some basic info about you.</ion-note>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-icon id="profile-icon" name="person-circle-outline"></ion-icon>
              </ion-col>
              <ion-col>
                Profile Picture
                <br>
                <ion-button>Upload</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-label position="floating" class="floating-label">First Name</ion-label>
          <ion-input class="input" [(ngModel)]="firstName"></ion-input>
          <ion-label position="floating" class="floating-label">Last Name</ion-label>
          <ion-input class="input" [(ngModel)]="lastName"></ion-input>
          <ion-label position="floating" class="floating-label">Birthday</ion-label>
          <ion-input class="input" placeholder="MM/DD/YYYY" [(ngModel)]="birthday"></ion-input>
          <ion-label position="floating" class="floating-label">Major</ion-label>
          <ion-select class="input" placeholder="Select your major" mode="ios" [(ngModel)]="major">
            <ion-select-option *ngFor="let major of majors" [value]="major">{{ major }}</ion-select-option>
          </ion-select>
          <div style="text-align: center;">
            <ion-button class="gender-btn" (click)="onMaleClick()">
              <div class="custom-button-content">
                <ion-icon class="gender-icon" name="male-outline" size="large"></ion-icon>
                <ion-label class="gender-btn-label">Male</ion-label>
              </div>
            </ion-button>
            <ion-button class="gender-btn" color="secondary" (click)="onFemaleClick()">
              <div class="custom-button-content">
                <ion-icon class="gender-icon" name="female-outline" size="large"></ion-icon>
                <ion-label class="gender-btn-label">Female</ion-label>
              </div>
            </ion-button>
            <ion-button class="gender-btn" color="tertiary" (click)="onNonBinaryClick()">
              <div class="custom-button-content">
                <img class="gender-icon" src="../../../assets/images/nonbinary.png" style="width: 60%; height: 60%;">
                <ion-label class="gender-btn-label">Non-Binary</ion-label>
              </div>
            </ion-button>
          </div>
        </div>
        <div style="text-align: center;">
          <ion-button (click)='slides.slideNext()' class='semi-bold next-btn' color="primary">Next</ion-button>
        </div>
        <div style="text-align: center;">
          <ion-icon name="ellipse" color="primary" class="page-ellipse"></ion-icon>
          <ion-icon name="ellipse" color="medium" class="page-ellipse"></ion-icon>
          <ion-icon name="ellipse" color="medium" class="page-ellipse"></ion-icon>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-content" style="display: block; text-align: left;">
        <ion-icon class="back-btn" slot="start" name="chevron-back-outline" (click)='slides.slidePrev()' size="large" color="primary"></ion-icon>
        <h1 class="slide-title">Housing</h1>
        <ion-note class="subtitle">Second, housing preferences.</ion-note>
        <div style="text-align: center;">
          <ion-button class="housing-btn" color="secondary" [fill]="isHousingClick > 0 ? 'solid': 'outline'" (click)="haveHousingClick()">I already have housing.</ion-button>
          <ion-button class="housing-btn" color="secondary" [fill]="isHousingClick < 0 ? 'solid': 'outline'" (click)="noHousingClick()">I do not have housing yet.</ion-button>
        </div>
        <p style="font-size: small; margin-bottom: 1em;">
          Please fill in the following information about your current housing preferences.
        </p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label position="floating" class="floating-label">Location</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-sm="2">
              <ion-button class="location-btn" color="primary" [fill]="isLocationClick > 0 ? 'solid': 'outline'" (click)="onCampusClick()">On Campus</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="location-btn" color="primary" [fill]="isLocationClick < 0 ? 'solid': 'outline'" (click)="offCampusClick()">Off Campus</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating" class="floating-label"># of People per Bedroom</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="bedroom-btn" color="primary" [fill]="isBedroomClick == 1 ? 'solid': 'outline'" (click)="bedOneClick()">1</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="bedroom-btn" color="primary" [fill]="isBedroomClick == 2 ? 'solid': 'outline'" (click)="bedTwoClick()">2</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="bedroom-btn" color="primary" [fill]="isBedroomClick == 3 ? 'solid': 'outline'" (click)="bedThreeClick()">3</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="bedroom-btn" color="primary" [fill]="isBedroomClick == 4 ? 'solid': 'outline'" (click)="bedFourClick()">4</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating" class="floating-label">Co-Ed Preferences</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="coed-btn" color="primary" [fill]="isCoedClick > 0 ? 'solid': 'outline'" (click)="yesCoedClick()">All Genders</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="coed-btn" color="primary" [fill]="isCoedClick < 0 ? 'solid': 'outline'" (click)="noCoedClick()">Similar Only</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating" class="floating-label">Max Rent (per month)</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-range min="300" max="1300" step="100" snaps="true" ticks="true" pin="true" style="margin-bottom: 0;" [(ngModel)]="maxRent" mode="ios">
                <ion-label slot="start" style="font-size: x-small;">$300</ion-label>
                <ion-label slot="end" style="font-size: x-small;">$1300+</ion-label>
              </ion-range>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style=" display: block; text-align: center;">
          <ion-button (click)='slides.slideNext()' class='semi-bold next-btn' color="primary">Next</ion-button>
        </div>
        <div style="text-align: center;">
          <ion-icon name="ellipse" color="medium" class="page-ellipse"></ion-icon>
          <ion-icon name="ellipse" color="primary" class="page-ellipse"></ion-icon>
          <ion-icon name="ellipse" color="medium" class="page-ellipse"></ion-icon>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-content" style="display: block; text-align: left;">
        <ion-icon class="back-btn" slot="start" name="chevron-back-outline" (click)='slides.slidePrev()' size="large" color="primary"></ion-icon>
        <h1 class="slide-title">Personality</h1>
        <ion-note class="subtitle">Finally, your lifestyle and interests.</ion-note>
        <h3>Habits</h3>
        <div class="border">&nbsp;</div>
        <ion-note class="subtitle">How often to you smoke or use drugs?</ion-note><br>
        <ion-radio-group [(ngModel)]="drugs">
          <ion-row>
            <ion-col size = "4">
              <ion-radio mode="md" value="Never" color="secondary" checked= "true"></ion-radio>
              <ion-label>Never</ion-label>  
            </ion-col>
            <ion-col size = "4">
              <ion-radio mode="md" value="Sometimes" color ="secondary"></ion-radio>
              <ion-label>Sometimes</ion-label>  
            </ion-col>
            <ion-col size = "4">
              <ion-radio mode="md" value="Frequently" color ="secondary"></ion-radio>
              <ion-label>Frequently</ion-label>
            </ion-col>
          </ion-row>
        </ion-radio-group>
        <ion-note class="subtitle">How often do you drink alcohol?</ion-note><br>
        <ion-radio-group [(ngModel)]="alcohol">
          <ion-row>
            <ion-col size = "4">
              <ion-radio mode="md" value="Never" color="secondary" checked= "true"></ion-radio>
              <ion-label>Never</ion-label>  
            </ion-col>
            <ion-col size = "4">
              <ion-radio mode="md" value="Sometimes" color ="secondary"></ion-radio>
              <ion-label>Sometimes</ion-label>  
            </ion-col>
            <ion-col size = "4">
              <ion-radio mode="md" value="Frequently" color ="secondary"></ion-radio>
              <ion-label>Frequently</ion-label>
            </ion-col>
          </ion-row>
        </ion-radio-group>


        <ion-note class="subtitle">What is your typical sleep schedule like?</ion-note><br>
        <ion-row>
          <ion-col><ion-label>Wake</ion-label></ion-col>
          <ion-col><ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45" [(ngModel)]="wake"></ion-datetime></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-label>Sleep</ion-label></ion-col>
          <ion-col><ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45" [(ngModel)]="sleep"></ion-datetime></ion-col>
        </ion-row>
        <div class="border">&nbsp;</div>

        <h3>Cleanliness</h3>
        <ion-note class="subtitle">How should chores by assigned?</ion-note><br>
        <ion-radio-group [(ngModel)]="chores">
          <ion-row>
            <ion-col size = "6">
              <ion-radio mode="md" value="Equal" color="secondary" checked= "true"></ion-radio>
              <ion-label>Divded Equally</ion-label>  
            </ion-col>
            <ion-col size = "6">
              <ion-radio mode="md" value="NoAssignment" color ="secondary"></ion-radio>
              <ion-label>No Assignment</ion-label>  
            </ion-col>
          </ion-row>
        </ion-radio-group>

        <ion-note class="subtitle">Would you live in a household with pets?</ion-note><br>
        <ion-radio-group [(ngModel)]="pets">
          <ion-row>
            <ion-col size = "6">
              <ion-radio mode="md" value="Yes" color="secondary" checked= "true"></ion-radio>
              <ion-label>Yes</ion-label>  
            </ion-col>
            <ion-col size = "6">
              <ion-radio mode="md" value="No" color ="secondary"></ion-radio>
              <ion-label>No</ion-label>  
            </ion-col>
          </ion-row>
        </ion-radio-group>
        
        <div class="border">&nbsp;</div>
        <h3>More About You</h3>
        <ion-label>Interests (seperate with a comma)</ion-label>
        <ion-textarea [(ngModel)]="interests"></ion-textarea>

        <ion-label>Bio</ion-label>
        <ion-textarea [(ngModel)]="bio"></ion-textarea>
        <br>

        <div style=" display: block; text-align: center;">
          <ion-button (click)='navigateToHome()' class='semi-bold next-btn' color="primary" (click)="addUserData()">Submit</ion-button>
        </div>
        <div style="text-align: center;">
          <ion-icon name="ellipse" color="medium" class="page-ellipse"></ion-icon>
          <ion-icon name="ellipse" color="medium" class="page-ellipse"></ion-icon>
          <ion-icon name="ellipse" color="primary" class="page-ellipse"></ion-icon>
        </div>
      </div>

      
      
    </ion-slide>
  </ion-slides>

</ion-content>
