ion-button{
    --border-radius:7px;
    font-size: x-small;
}
ion-select{
    border-radius:7px;
    background-color: rgb(233, 233, 233);
    font-size: x-small;
}
ion-datetime{
    background-color: rgb(233, 233, 233);
    border-radius:7px;
    font-size: x-small;
}
ion-input{
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius:7px;
    font-size: x-small;
}
ion-radio{
    width: 12px;
    height: 12px;
}
ion-label{
    margin-left: 10px;
    font-size: x-small;
}
p{
    color: black;
}
hr {
    background: black;
    margin-top: 22px;
    width: 70%;
}
label{
    font-size: smaller;
    margin-left: 5px;
}

.results ion-label{
    margin-left: 15px;
    font-size: smaller;
}
.buttons{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 8px;
}

#down-arrow{
    margin-top: 0%;
    margin-left: 0%;
}

ion-list ion-label{
    color: black;
    font-size: medium;
}
ion-list ion-button{
    font-size: 7px;
    --border-radius:4px;
    opacity: 100%;
    margin-left: 10px;
}
ion-list .indentation{
    margin-left: 10px;
    font-size: 7px;
}