<ion-header>
  <ion-toolbar >
      Housing & Roommate Finder
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <h1>HouseMe</h1>
  HouseMe
  <br>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button fill="outline" color="primary">Primary</ion-button>
  <ion-button fill="outline" color="secondary">Secondary</ion-button>
  <ion-button fill="outline" color="tertiary">Tertiary</ion-button>
  <!-- <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button> -->
  <ion-label position="floating">Floating Label</ion-label>
  <ion-input></ion-input>
  <ion-input value="custom"></ion-input>
  <ion-input placeholder="Enter Input"></ion-input>

</ion-content>
