<ion-content>
  <div class='main'>
    <ion-icon class="back-btn" slot="start" name="chevron-back-outline" (click)='navigateToAccountAccess()' size="large" color="primary"></ion-icon>
    <h1>Log In</h1>

    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
    <ion-label position="floating">Password</ion-label>
    <ion-input type='password'></ion-input>
    <ion-button id='loginbutton' (click)='navigateTo("")' expand="block">Log In</ion-button>
  </div>

</ion-content>
