<ion-header [translucent]="true">
  <ion-toolbar>
    Profile
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-box">
    <!-- <img src="assets/kaeley.jpg"> -->
    <ion-icon name="settings-outline" class="alignRight"></ion-icon>
    <br />
    <ion-icon name="person-outline" size="large"></ion-icon>
    <h5> First Lastname </h5>
    <div>
      <ion-button color="tertiary" class="badge-text">Informatics</ion-button>
      <ion-button color="primary" class="badge-text">Seeking Housing</ion-button>
    </div>
    <p class="badge-text"> Hello! I am a third year Informatics major from Orange County looking for housing,
    preferably a place with a parking space. </p>
    <div>
      <ion-icon name="logo-discord" class="social discord"></ion-icon>
      <ion-icon name="logo-facebook" class="social facebook"></ion-icon>
      <ion-icon name="logo-snapchat" class="social snapchat"></ion-icon>
    </div>
  </div>

  <div class="summary">
    <div>
      <ion-icon name="home"></ion-icon>
      Housing Preferences
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> LOCATION </p>
        <p class="answer"> Off-Campus </p>
      </div>
    <div class="column">
      <p class="category"> HOUSEMATES </p>
      <p class="answer"> All Genders </p>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="category"> ROOM SIZE </p>
        <p class="answer"> 2 people </p>
      </div>
    <div class="column">
      <p class="category"> MAX RENT </p>
      <p class="answer"> $900/month </p>
      </div>
    </div>
  </div>

  <div class="summary">
    <div>
      <ion-icon name="alarm"></ion-icon>
      Lifestyle
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> WAKES UP AT </p>
        <p class="answer"> 9:00 AM </p>
      </div>
    <div class="column">
      <p class="category"> SLEEPS AT </p>
      <p class="answer"> 1:00 AM </p>
    </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="category"> SMOKING / DRUGS </p>
        <p class="answer"> Never </p>
      </div>
    <div class="column">
      <p class="category"> ALCOHOL </p>
      <p class="answer"> Sometimes </p>
    </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="category"> CHORES </p>
        <p class="answer"> Split equally </p>
      </div>
    <div class="column">
      <p class="category"> PETS </p>
      <p class="answer"> No </p>
    </div>
    </div>
  </div>

  <div class="summary">
    <div>
      <ion-icon name="happy"></ion-icon>
      More about Name
    </div>
    <div class="border">&nbsp;</div>

    <div class="row">
      <div class="column">
        <p class="category"> AGE </p>
        <p class="answer"> 21 years </p>
      </div>
    <div class="column">
      <p class="category"> GENDER </p>
      <p class="answer"> Female </p>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="category"> MBTI </p>
        <p class="answer"> INTJ-T </p>
      </div>
    <div class="column">
      <p class="category"> HOMETOWN </p>
      <p class="answer"> Irvine </p>
    </div>
    </div>
    <div class="row">
      <div class="fullcolumn">
        <p class="category"> INTERESTS </p>
        <p class="answer"> Design • Drums • Stardew Valley • Netflix • Shabu Shabu </p>
      </div>
    </div>
  </div>

  <div class="bottom">
    <ion-button color="tertiary" class="bottom-buttons">Hide</ion-button> &nbsp;
    <ion-button color="primary" class="bottom-buttons">Report</ion-button>
  </div>

</ion-content>
