<ion-content>

  <img id='thing' src='../../../assets/images/thing.png'>
  <div class='main'>

      <h1>HouseMe</h1>
      <p>University of California, Irvine</p>

      <ion-button (click)='navigateTo("signup")' color='primary' expand='block'>Sign Up</ion-button>
      <ion-button (click)='nagivateToLogIn("login")' color='primary' fill='outline' expand='block'>Log In</ion-button>
  </div>
  <img id='house' src='../../../assets/images/house.png'>
  <p id='version'>Version 1.0</p>


</ion-content>
