/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); // import poppins font

ion-button { 
    transition: box-shadow .3s ease;
    text-transform: none; // make buttons not all caps
    // font-weight: 600; // semi bold
    --box-shadow: none;
    border-radius: 5px;
} 

ion-button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    // box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
    background-color: 21, 156, 228;
    fill: solid;
}

// ion-button:focus {
//     outline: none;
//     box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
// }

ion-header {
    background-color: var(--ion-color-primary);
    
    // height: 100px;
}

ion-toolbar {
    background-color: var(--ion-color-primary);
    --ion-toolbar-background: var(--ion-color-primary);
    color: #ffffff;
    text-align: center;
    --border-style: none;
}

.header-md::after { // remove shadow in header
    display: none;
}


ion-tab-bar, ion-tab-button {
    background-color: #e1e1e1;
    --color: #919191;
    --color-selected: #404040;
}

ion-input {
    border-radius: 10px !important;
    padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid #f1f1f1 !important;
    --background: #e1e1e1 !important;
    /* height: 10%; */
    /* width: 41%; */
    // max-width: 50vw;
    // max-height: 10vh;
}

h1 {
    font-weight: 600;
} 